.nav{    
    padding: 30px 30px;
    margin-top: 30px;
}
h1 {
    display: flex;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    font-family: 'Retropix', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}