@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CURSIVE";
  src: url("./assets/fonts/cursive.woff2");
}

@font-face { font-family: Retropix; 
  src: url('./assets/fonts/retropix_font/TTF/Retropix-Regular.ttf'); 
} 

* {
  font-family: 'Retropix', sans-serif;  
}

.header-title {
  display: flex;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
  font-family: 'Retropix', sans-serif;
  padding: 30px 30px;
  margin-top: 30px;
}

.bg-pink{
  background-color: #eb3fa6;
}